<div class="page page-form">

    <div class="row ui-section"  data-ng-controller="organization-edit" ng-cloak>
        <div class="col-lg-8 clearfix">
            <h2 ng-show="!organization.id" class="section-header">Nueva Muestra</h2>
            <h2 ng-show="organization.id" class="section-header">Edición Muestra</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="organization_form" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group row" >
                            <div class="col-md-8">
                                <label for="">Nombre</label>
                                <input  type="text" class="form-control" required data-ng-model="organization.name" >
                            </div>
                            <div class="col-md-4">
                                <label> Es muestra actual?
                                <md-switch name="is_current" class="md-primary" ng-model="organization.is_current" aria-label="is_current" ng-true-value="true" ng-false-value="false" > {{ organization.is_current? 'SI' : 'NO'}} </md-switch>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Slogan</label>
                            <textarea class="form-control" rows="8" data-ng-model="organization.slogan"></textarea>
                        </div>


                        <div class="form-group">
                            <label for="">Descripción</label>
                            <textarea class="form-control" rows="8" data-ng-model="organization.description"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="">Detalles</label>
                            <textarea class="form-control" rows="8" data-ng-model="organization.details"></textarea>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="">Fecha Inicio Muestra</label>
                                <input id="organization_start_date" type="date" class="form-control" required>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="">Fecha Fin Muestra</label>
                                <input id="organization_end_date" type="date" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Más Detalles</label>
                            <textarea class="form-control" rows="8" data-ng-model="organization.more_details"></textarea>
                        </div>



                        <div class="form-group">
                            <div class="btn btn-primary btn-upload" upload-button 
                                url="{{upload_url}}"
                                param="file"
                                data="formData"
                                accept="image/*"
                                multiple="false"
                                force-iframe-upload="{{forceIframeUpload}}"
                                required="false"
                                on-upload="onUpload(files)" 
                                on-success="onSuccess(response)" 
                                on-error="onError(response)"
                                on-complete="onComplete(response)">
                                Subir Imágen Portada
                            </div>
                            <img ng-if="uploading" ng-src="/images/loading.gif" height="300px" class="img-responsive">
                            <img ng-if="organization.main_picture" ng-src="http://images.collab-dev.com/300x/smart/uca/{{organization.main_picture}}" class="img-rounded img-responsive">
                        </div>

                        <div class="form-group">
                            <label for="">Website</label>
                            <input  type="text" class="form-control" data-ng-model="organization.website" >
                        </div>
                        <div class="form-group">
                            <label for="">Twitter Widget Id</label>
                            <input  type="numeric" class="form-control" data-ng-model="organization.twitter_hashtag" >
                        </div>
                        <div class="form-group">
                            <label for="">Instagram Hashtag</label>
                            <input  type="text" class="form-control" data-ng-model="organization.instagram_hashtag" >
                        </div>

                        <button type="submit"
                                ui-wave
                                class="btn btn-primary btn-w-md"
                                data-ng-disabled="!canSubmit()"
                                >Guardar</button>
                        <button class="btn btn-default btn-w-md"
                                ui-wave
                                data-ng-click="revert()"
                        >Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

